# Distribution / packaging
build/
develop-eggs/
dist/
*.egg-info/
version.txt
.vscode/
.DS_Store
src/.DS_Store
src/yamlconfigcompare/.DS_Store

# test files and directory
config-sample.yaml
config.yaml
deployment/